@model SearchViewModel


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var gpu in Model.GPUs)
    {
        <div class="col">
            <div class="card gpu-card">
                <img style="max-width: 320px; max-height: 200px" src="@gpu.ImageThumbnail" class="card-img-top" alt="@gpu.Name">
                <div class="card-body gpu-button">
                    <h4 class="d-grid">
                    </h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="gpu-link" asp-controller="GPU" asp-action="Details" asp-route-id="@gpu.Id">@gpu.Name</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @gpu.Price.ToString("c")
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    }
    @foreach (var laptop in Model.Laptops)
    {
        <div class="col">
            <div class="card laptop-card">
                <img style="max-width: 320px; max-height: 200px" src="@laptop.ImageThumbnail" class="card-img-top" alt="@laptop.Name">
                <div class="card-body laptop-button">
                    <h4 class="d-grid">
                    </h4>

                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a class="laptop-link" asp-controller="Laptop" asp-action="Details" asp-route-id="@laptop.Id">@laptop.Name</a>
                        </h2>
                        <h5 class="text-nowrap">
                            @laptop.Price.ToString("c")
                        </h5>
                    </div>

                </div>
            </div>
        </div>
    }


</div>



